@charset "utf-8";

body{
  background-image:url(../img/th0WWR90F5.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: 1500px 1700px,contain;
  background-color:#7fffd4;
}

#main{
  width: 798px;
  margin: 40px auto;
  padding:40px 80px;
  border: gree 1px solid;
  background-color: white;
}

.photo{
  float: left;
  margin-right: 30px;
}

.oyakodonn:after{
  content: "";
  clear: both;
  display: block;
}
